@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
}


html, body{
    height: 100vh;
    width: 100vw;
}
body{
    position: relative;
    background-image: url('../pacote-d013/imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

#telefone{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 311px;
    height: 627px;
    background-image: url(../pacote-d013/imagens/frame-iphone.png);
}

iframe#tela{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 268px;
    height: 473px;
}
 section#Redes img{
    width: 50px;
    margin: 10px;
    border: 5px white;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.541);
    
 }

 section#Redes img:hover{
    left: 10%;
    top: 10%;
    translate: -10% -10%;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.479);
  

 }



 #Redes{
    text-align: right;
 }

 